langchain-openai
langchain-community
langchain-chroma
fastapi
uvicorn
pydantic
python-dotenv
langchain-cohere
langchain
langchain-core
langchain-classic
langchain-unstructured
unstructured-client
unstructured "unstructured[pdf]" python-magic