langchain-openai
langchain-community
langchain-chroma
fastapi
uvicorn
pydantic
python-dotenv
langchain-cohere
langchain
langchain-core
langchain-classic
langchain-unstructured
unstructured-client
unstructured "unstructured[all-docs]" python-magic
rank_bm25
sqlalchemy